hr {
    height: 1px;
    background-color: white;
    border: none;
    width: 100%;
}

.header-container {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-weight: 400;
    h3 {
      padding: 30px 30px 30px 0;
      cursor: pointer;
    }
  }
  
  .list {
    padding: 0;
    list-style: none;
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    margin-bottom: 0;
    li {
      cursor: pointer;
    }
  }